# Environment configuration for Production / Local Testing

# Server Config
PORT=4000
NODE_ENV=production

# Database & Authentication
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/abeer?retryWrites=true&w=majority
JWT_SECRET=hLZUGhxUIU7vpnrFsTHIJFi1zfbCqRUtxHynbyO8Wbr
JWT_EXPIRE=1y
COOKIE_EXPIRE=1

# URLs & CORS Configuration (Replace 18.220.182.20 with your EC2 Public IP or Domain)
FRONTEND_URL=http://18.220.182.20:3000
ADMIN_URL=http://18.220.182.20:3001
NEXT_PUBLIC_API_URL=http://18.220.182.20:4000